

/*
.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  [class*='display-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}
*/

// @import '~vuetify/src/stylus/main'

body {
    overflow-x: hidden;
}

